font-face("RCI", "../fonts/rci/rci-hair-webfont", 100, normal, formats: local eot woff2 woff truetype svg, "rcihairline", "RCI Hairline")
font-face("RCI", "../fonts/rci/rciitalic-hairitalic-webfont", 100, italic, formats: local eot woff2 woff truetype svg, "rcihairline_italic", "RCI Hairline")

font-face("RCI", "../fonts/rci/rci-light-webfont", 200, normal, formats: local eot woff2 woff truetype svg, "rcilight", "RCI Light")
font-face("RCI", "../fonts/rci/rciitalic-lightitalic-webfont", 200, italic, formats: local eot woff2 woff truetype svg, "rcilight_italic", "RCI Light")

font-face("RCI", "../fonts/rci/rci-book-webfont", 300, normal, formats: local eot woff2 woff truetype svg, "rcibook", "RCI Book")
font-face("RCI", "../fonts/rci/rciitalic-bookitalic-webfont", 300, italic, formats: local eot woff2 woff truetype svg, "rcibook_italic", "RCI Book")

font-face("RCI", "../fonts/rci/rci-regular-webfont", 400, normal, formats: local eot woff2 woff truetype svg, "rciregular", "RCI Regular")
font-face("RCI", "../fonts/rci/rciitalic-regular-webfont", 400, italic, formats: local eot woff2 woff truetype svg, "rciregular_italic", "RCI Regular")

font-face("RCI", "../fonts/rci/rci-bold-webfont", 700, normal, formats: local eot woff2 woff truetype svg, "rcibold", "RCI Bold")
font-face("RCI", "../fonts/rci/rci-bolditalic-webfont", 700, italic, formats: local eot woff2 woff truetype svg, "rcibold_italic", "RCI Bold")

font-face("RCI", "../fonts/rci/rci-black-webfont", 800, normal, formats: local eot woff2 woff truetype svg, "rciblack", "RCI Black")
font-face("RCI", "../fonts/rci/rci-blackitalic-webfont", 800, italic, formats: local eot woff2 woff truetype svg, "rciblack_italic", "RCI Black")
