/**
 * Colors
 **/
color-black = #1d1d1b
color-white = #fff
color-lightblue = #d4ecfb
color-green = #a1c318
color-blue = #0099CC
color-red = #e3032e

color-text = color-black
color-text-alt = color-white
color-sky = color-lightblue
color-body-bcakground = color-white

/**
 * Sizes
 **/
font-size-root = 16px

width-content = rem(1220)
width-gutter = rem(10)
width-gutter-large = (width-gutter * 2)

/**
 * Breakpoints
 **/
breakpoint-desktop-wide = 2560px
breakpoint-desktop = 1280px
breakpoint-tablet = 1024px
breakpoint-mobile = 480px

/**
 * Media queries
 **/
media-query-desktop-wide-down = 'screen and (max-width ' +  breakpoint-desktop-wide + ')'
media-query-desktop-wide-up = 'screen and (min-width ' +  (breakpoint-desktop-wide - 1) + ')'
media-query-desktop-down = 'screen and (max-width ' +  breakpoint-desktop + ')'
media-query-desktop-up = 'screen and (min-width ' +  (breakpoint-desktop - 1) + ')'
media-query-tablet-down = 'screen and (max-width ' +  breakpoint-tablet + ')'
media-query-tablet-up = 'screen and (min-width ' +  (breakpoint-tablet - 1) + ')'
media-query-mobile-down = 'screen and (max-width ' +  breakpoint-mobile + ')'
media-query-mobile-up = 'screen and (min-width ' +  (breakpoint-mobile - 1) + ')'

/**
 * Fonts Families
 **/
font-stack-common = "Helvetica Neue", "Segoe UI", Roboto, Arial, sans-serif
font-stack-heading = font-stack-common
