// Colors
$color-background = #eee
$color-text = #222


// Font sizes
$font-size-base = 16px

// Font families
$font-stack-common = "Source Sans Pro", "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif
$font-stack-heading = $font-stack-common


// Sizes
$size-viewport-height = 100vh


// Media queries breakpoint
$breakpoint-tablet = rem(1024px)
$breakpoint-mobile = rem(640px)